@model DoAnCoSo.Models.Role

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesRole)
        </dd>
    </dl>
</div>

   @*  <a asp-action="Edit" asp-route-id="@Model?.RoleId" class="btn btn-outline-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a> *@


    <div class="page-title-right">
        <div class="btn-group ms-2 d-none d-sm-inline-block">
            <a asp-action="Edit" asp-route-id="@Model?.RoleId" type="button" class="btn btn-outline-warning">
                <i class="uil uil-edit me-1"></i>Edit
            </a>
        </div>
        <div class="btn-group d-none d-sm-inline-block">
            <a asp-action="Index" type="button" class="btn btn-outline-info">
                <i class="uil uil-arrow-circle-left"></i>Back to List
            </a>
        </div>
    </div>

