@model DoAnCoSo.ModelView.MuaHangVM


@{
    ViewData["Title"] = "Thủ tục thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DoAnCoSo.Models.Cart> carts = ViewBag.GioHang;
    List<Location> locations = ViewBag.lsTinhThanh;
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Thủ tục thanh toán</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"> Trang Chủ</a></li>
        <li class="breadcrumb-item"><a asp-controller="Cart" asp-action="Cart">Giỏ hàng</a></li>
        <li class="breadcrumb-item"><a asp-controller="Products" asp-action="Products">Sản Phẩm</a></li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Chi tiết thanh toán</h1>
        <form >
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="form-item">
                        <label class="form-label my-3">Họ và Tên<sup>*</sup></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Địa chỉ<sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="House Number Street Name">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3 required">Thị trấn/Thành phố<sup>*</sup></label>
                        <input type="text" class="form-control">

                        <select class="form-label">
                            <option selected>Tỉnh / Thành Phố</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Quốc gia<sup>*</sup></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Điện thoại di động<sup>*</sup></label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Địa chỉ email<sup>*</sup></label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Địa chỉ email<sup>*</sup></label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-item">
                        <textarea name="text" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Ghi chú Oreder (Tùy chọn)" ></textarea>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Các sản phẩm</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Tổng cộng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="~/img-PhuTungXe/LocGio/Lọc Gió cho Honda Air Blade đời đầu xăng cơ.webp" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-5">Sản Phẩm Xe</td>
                                    <td class="py-5">200.000Đ/ Cái</td>
                                    <td class="py-5">2</td>
                                    <td class="py-5">200.000Đ/ Cái</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="~/img-PhuTungXe/LocGio/Lọc Gió cho Honda Air Blade đời đầu xăng cơ.webp" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-5">Sản Phẩm Xe</td>
                                    <td class="py-5">200.000Đ/ Cái</td>
                                    <td class="py-5">2</td>
                                    <td class="py-5">200.000Đ/ Cái</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="~/img-PhuTungXe/LocGio/Lọc Gió cho Honda Air Blade đời đầu xăng cơ.webp" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-5">Sản Phẩm Xe</td>
                                    <td class="py-5">200.000Đ/ Cái</td>
                                    <td class="py-5">2</td>
                                    <td class="py-5">200.000Đ/ Cái</td>
                                </tr>
                                <!-- Phần tính tổng tiền -->
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Tổng phụ</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">200.000Đ</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-4">Đang chuyển hàng</p>
                                    </td>
                                    <td colspan="3" class="py-5">
                                        <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-1" name="Shipping-1" value="Shipping">
                                            <label class="form-check-label" for="Shipping-1">Miễn phí vận chuyển</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-2" name="Shipping-1" value="Shipping">
                                            <label class="form-check-label" for="Shipping-2">Tỷ giá cố định: 200.000Đ</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-3" name="Shipping-1" value="Shipping">
                                            <label class="form-check-label" for="Shipping-3">Nhận hàng tại địa phương: 200.000Đ</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TỔNG CỘNG</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">200.000Đ</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Payments-1" name="Payments" value="Payments">
                                <label class="form-check-label" for="Payments-1">Kiểm tra trước khi thanh toán</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1" name="Delivery" value="Delivery">
                                <label class="form-check-label" for="Delivery-1">Thanh toán trước</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->


<script>
    $(document).ready(function () {
        $('select').niceselect();
        $(function () {
            $("#TinhThanh").change(function () {
                var locationid = $('#TinhThanh').val();
                $.ajax({
                    URL: '/location/QuanHuyenList',
                    type: "GET",
                    datatype: "JSON",
                    data: { Locationid: locationid },
                    success: function (QuanHuyen) {
                        $("#QuanHuyen").empty();
                        $("#PhuongXa").empty();
                        var strPhuongXa = '<option value = "" disabled selected> Phường / Xã</option>';
                        var strQuanHuyen = '<option value = "" disabled selected> Quận / Huyện</option>';
                        $.each(QuanHuyen, function (i, item) {
                            var option = '<option value="' + item.locationid + '"  >' + item.name + '</option>';
                            $("#QuanHuyen").append()option;
                        });
                        $('select').niceSelect('update');
                    }
)
            });
        });
    });
    $(document).ready(function () {
        $('select').niceselect();
        $(function () {
            $("#QuanHuyen").change(function () {
                var locationid = $('#QuanHuyen').val();
                $.ajax({
                    URL: '/location/PHuongXaList',
                    type: "GET",
                    datatype: "JSON",
                    data: { Locationid: locationid },
                    success: function (QuanHuyen) {
                        $("#PhuongXa").empty();
                        var strPhuongXa = '<option value = "" disabled selected> Phường / Xã</option>'; 
                        $("#PHuongXa").append(readonly);
                        $.each(QuanHuyen, function (i, item) {
                            var option = '<option value="' + item.locationid + '"  >' + item.name + '</option>';
                            $("#PhuongXa").append()option;
                        });
                        $('select').niceSelect('update');
                    }
    )
            });
        });
    });
</script>